
h1{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    text-align: center;
}
.login-search-bar{
   font-family: 'Ubuntu', sans-serif;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.content-img{
line-height: 0;
width: auto;
outline: 0;
display: inline-block;
margin: 0 auto;
max-width: 100%;
border: 1px solid transparent;
}
.marketing-section{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
#footer{
    padding:7% 15px;
    text-align: center;
}
.copyright-text{
    font-size: 1rem;
    padding-top: 3%;
    color:#8f8f8f;;
}
.social-icon{
    margin: 20px 10px;

}